<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
<div class="card">
    <img src="Pasfoto.png" alt="John" style="width:200px">
    <h1>Samuel Mulatua Jeremy</h1>
    <p class="title">1906308305</p>
    <p>Fakultas Ilmu Komputer Universitas Indonesia - 2019</p>
    <h5>Senang bermusik dan menikmati musik</h5>

    <h3>Riwayat Pendidikan</h3>
    <div style="display: inline-block;">
        <table>
            <tr>
                <td>No</td>
                <td>Institusi</td>
                <td>Waktu</td>
            </tr>
            <tr>
                <td>1</td>
                <td>SD Cahaya Sakti</td>
                <td>2007-2013</td>
            </tr>
            <tr>
                <td>2</td>
                <td>SMPK 5 BPK Penabur</td>
                <td>2013-2016</td>
            </tr>
            <tr>
                <td>3</td>
                <td>SMA Negeri 8 Jakarta</td>
                <td>2016-2019</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Universitas Indonesia, Fakultas Ilmu Komputer</td>
                <td>2019-sekarang</td>
            </tr>

        </table>
    </div>
    <br>
    <a href="https://www.twitter.com/mulatua__"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/samuel-nainggolan-86a1a8138/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.instagram.com/samuelmjn"><i class="fa fa-instagram"></i></a>
</div>